In [2]:
%matplotlib inline 

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
from sklearn import metrics
import seaborn as sns
from statsmodels.graphics.regressionplots import *
import statsmodels.api as sm
from statsmodels.formula.api import ols

# special matplotlib argument for improved plots
from matplotlib import rcParams
sns.set_style("whitegrid")
sns.set_context("paper")
%matplotlib inline

In [4]:
atlas = pd.read_csv('/Users/rishigummakonda/Documents/Springboard/capstone/data/atlas_data/atlas.csv')

In [6]:
nyc = atlas[atlas['czname'] == 'New York']

In [7]:
la = atlas[atlas['czname'] == 'Los Angeles']

In [8]:
denver = atlas[atlas['czname'] == 'Denver']

In [9]:
nashville = atlas[atlas['czname'] == 'Nashville']

In [10]:
nashville.shape

(347, 63)

In [11]:
nashville.head()

,tract,county,state,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2010,frac_coll_plus2000,foreign_share2010,...,kfr_white_p25,kfr_white_p75,kfr_white_p100,count_pooled,count_white,count_black,count_asian,count_hisp,count_natam,mergecounts
59786,960100,15,47,5600.0,Nashville,64972.719,35.393070,0.148610,0.064289,0.002967,...,36630.504,51421.910,67466.484,919.0,886.0,4.0,1.0,15.0,3.0,matched (3)
59787,960200,15,47,5600.0,Nashville,55273.117,33.561001,0.110983,0.104871,0.004068,...,32946.016,50261.000,69822.234,1511.0,1433.0,29.0,3.0,30.0,6.0,matched (3)
59788,960300,15,47,5600.0,Nashville,58293.078,34.625496,0.064085,0.066868,0.020964,...,33389.023,55243.035,81536.305,830.0,801.0,9.0,0.0,13.0,0.0,matched (3)
59814,70102,21,47,5600.0,Nashville,77875.883,38.151741,0.134901,0.170847,0.010745,...,34909.004,51476.961,69965.867,1050.0,989.0,21.0,1.0,16.0,7.0,matched (3)
59815,70103,21,47,5600.0,Nashville,70230.328,34.822826,0.180461,0.089968,0.042365,...,33727.922,48480.051,64471.891,944.0,915.0,2.0,1.0,17.0,2.0,matched (3)

In [17]:
zips = pd.read_csv('/Users/rishigummakonda/Documents/Downloads/ZIP_TRACT_032010.csv')

In [18]:
zips.head()

   ZIP        TRACT  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  501  36103158607   0.000000   1.000000   0.000000   1.000000
1  544  36103158607   0.000000   1.000000   0.000000   1.000000
2  601  72001956300   0.004316   0.005063   0.000000   0.004310
3  601  72001956600   0.728760   0.448101   0.546667   0.703202
4  601  72001956700   0.266924   0.546835   0.453333   0.292488

In [23]:
zips[zips['TRACT'] == 34003035200]

       ZIP        TRACT  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
8480  7642  34003035200   0.000280      0.000   0.000000   0.000262
8519  7656  34003035200   0.004367      0.000   0.013605   0.004436
8566  7677  34003035200   0.998454      0.965   1.000000   0.995407

In [21]:
atlas[atlas['tract']==36103158607]

Empty DataFrame
Columns: [tract, county, state, cz, czname, hhinc_mean2000, mean_commutetime2000, frac_coll_plus2010, frac_coll_plus2000, foreign_share2010, med_hhinc2016, med_hhinc1990, popdensity2000, poor_share2010, poor_share2000, poor_share1990, share_black2010, share_hisp2010, share_asian2010, share_black2000, share_white2000, share_hisp2000, share_asian2000, gsmn_math_g3_2013, rent_twobed2015, singleparent_share2010, singleparent_share1990, singleparent_share2000, traveltime15_2010, emp2000, mail_return_rate2010, ln_wage_growth_hs_grad, jobs_total_5mi_2015, jobs_highpay_5mi_2015, nonwhite_share2010, popdensity2010, ann_avg_job_growth_2004_2013, job_density_2013, kfr_natam_p25, kfr_natam_p75, kfr_natam_p100, kfr_asian_p25, kfr_asian_p75, kfr_asian_p100, kfr_black_p25, kfr_black_p75, kfr_black_p100, kfr_hisp_p25, kfr_hisp_p75, kfr_hisp_p100, kfr_pooled_p25, kfr_pooled_p75, kfr_pooled_p100, kfr_white_p25, kfr_white_p75, kfr_white_p100, count_pooled, count_white, count_black, count_asian, count_hisp, count_natam, mergecounts]
Index: []

[0 rows x 63 columns]