In [1]:
import pandas as pd
import numpy as np
pathname='/Users/rishigummakonda/Documents/Springboard/capstone/data/census_tract/from_atlas/'
nyc = pd.read_csv(pathname+'nyc_tracts.csv')
la = pd.read_csv(pathname+'la_tracts.csv')
den = pd.read_csv(pathname+'denver_tracts.csv')
nash=pd.read_csv(pathname+'nashville_tracts.csv')

In [2]:
nyc.head()

         tract                  Name  Household_Income_rP_gP_pall
0  36059301700         Manhasset, NY                      93163.0
1  36059518204          Woodbury, NY                      92281.0
2  36059406400       Garden City, NY                      92080.0
3  36059302101            Roslyn, NY                      91257.0
4  36059412600  Rockville Centre, NY                      89100.0

In [15]:
state_codes=[]
state=""
county_codes=[]
county=""
tract_codes=[]
tractx=""

In [16]:
for code in nyc['tract']:
    code=str(code)
    state=code[:2]
    county=code[2:5]
    tractx=code[5:11]
    state_codes.append(state)
    county_codes.append(county)
    tract_codes.append(tractx)

In [17]:
nyc['state'] = state_codes
nyc['county']= county_codes
nyc['real_tract']=tract_codes
nyc.head()

,tract,Name,Household_Income_rP_gP_pall,state,county,real_tract
0,36059301700,"Manhasset, NY",93163.0,36,059,301700
1,36059518204,"Woodbury, NY",92281.0,36,059,518204
2,36059406400,"Garden City, NY",92080.0,36,059,406400
3,36059302101,"Roslyn, NY",91257.0,36,059,302101
4,36059412600,"Rockville Centre, NY",89100.0,36,059,412600