In [1]:
import pandas as pd
atlas = pd.read_csv('/Users/rishigummakonda/Documents/Springboard/capstone/data/atlas_data/atlas.csv')

In [2]:
atlas.head(10)

,tract,county,state,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2010,frac_coll_plus2000,foreign_share2010,...,kfr_white_p25,kfr_white_p75,kfr_white_p100,count_pooled,count_white,count_black,count_asian,count_hisp,count_natam,mergecounts
0,20100,1,1,11101.0,Montgomery,68638.727,26.171911,0.254428,0.156479,0.009950,...,30327.947,50820.145,75126.031,519.0,457.0,42.0,3.0,4.0,6.0,matched (3)
1,20200,1,1,11101.0,Montgomery,57242.512,24.806705,0.267194,0.146932,0.016337,...,42188.813,54239.121,66645.695,530.0,173.0,336.0,1.0,5.0,1.0,matched (3)
2,20300,1,1,11101.0,Montgomery,75647.727,25.322525,0.164159,0.224413,0.027096,...,33670.453,51579.383,71990.969,960.0,774.0,151.0,1.0,21.0,2.0,matched (3)
3,20400,1,1,11101.0,Montgomery,74852.055,22.965347,0.252744,0.230469,0.015083,...,34181.051,52847.863,74330.250,1123.0,1033.0,40.0,6.0,37.0,0.0,matched (3)
4,20500,1,1,11101.0,Montgomery,96174.766,26.222353,0.375063,0.321154,0.046488,...,39540.148,58699.035,80415.094,1867.0,1626.0,137.0,13.0,39.0,8.0,matched (3)
5,20600,1,1,11101.0,Montgomery,68095.766,21.630421,0.239424,0.160706,0.024985,...,27834.531,51198.227,80143.852,994.0,756.0,198.0,2.0,19.0,2.0,matched (3)
6,20700,1,1,11101.0,Montgomery,65182.262,23.227625,0.069114,0.116883,0.019895,...,32270.383,44085.074,56134.457,772.0,630.0,111.0,1.0,14.0,9.0,matched (3)
7,20801,1,1,11101.0,Montgomery,76873.500,30.329140,0.282572,0.188181,0.002448,...,29066.082,54859.684,88027.063,632.0,523.0,89.0,1.0,9.0,1.0,matched (3)
8,20802,1,1,11101.0,Montgomery,77310.141,30.726799,0.194913,0.189494,0.006912,...,31379.080,53173.738,79508.297,2114.0,1756.0,290.0,5.0,29.0,5.0,matched (3)
9,20900,1,1,11101.0,Montgomery,66234.398,36.436531,0.127820,0.089286,0.009670,...,29027.057,57419.770,95583.828,1373.0,1125.0,211.0,0.0,17.0,4.0,matched (3)

In [4]:
tract = atlas['tract']
county = atlas['county']
state = atlas['state']
czname = atlas['czname']
atlas[czname == 'Los Angeles']

,tract,county,state,cz,czname,hhinc_mean2000,mean_commutetime2000,frac_coll_plus2010,frac_coll_plus2000,foreign_share2010,...,kfr_white_p25,kfr_white_p75,kfr_white_p100,count_pooled,count_white,count_black,count_asian,count_hisp,count_natam,mergecounts
1449,20100,12,4,38300.0,Los Angeles,41098.555,20.699696,0.144823,0.064516,0.236940,...,NaN,NaN,NaN,508.0,211.0,4.0,0.0,268.0,5.0,matched (3)
1450,20201,12,4,38300.0,Los Angeles,64871.969,17.212221,0.086112,0.098639,0.064184,...,27970.879,46343.273,67287.219,390.0,274.0,4.0,4.0,88.0,13.0,matched (3)
1451,20202,12,4,38300.0,Los Angeles,64871.969,17.212219,0.137230,0.098639,0.121059,...,42376.633,51672.648,60859.031,137.0,97.0,1.0,1.0,31.0,4.0,matched (3)
1452,20501,12,4,38300.0,Los Angeles,41785.777,20.431618,0.131789,0.089991,0.038952,...,NaN,NaN,NaN,100.0,64.0,2.0,0.0,29.0,3.0,matched (3)
1453,20502,12,4,38300.0,Los Angeles,41785.777,20.431618,0.094004,0.089991,0.037028,...,38267.828,74018.602,135305.890,221.0,142.0,5.0,0.0,64.0,6.0,matched (3)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11498,8600,111,6,38300.0,Los Angeles,65869.008,24.791855,0.070215,0.098110,0.471904,...,37016.613,37381.238,37690.672,2557.0,189.0,101.0,94.0,2108.0,12.0,matched (3)
11499,8700,111,6,38300.0,Los Angeles,73408.695,24.716722,0.113213,0.116945,0.361479,...,40518.953,54448.094,69228.234,1843.0,199.0,42.0,19.0,1541.0,1.0,matched (3)
11500,8800,111,6,38300.0,Los Angeles,93613.234,24.779280,0.125901,0.133737,0.278535,...,37699.164,39784.457,41599.840,1736.0,265.0,80.0,64.0,1260.0,1.0,matched (3)
11501,8900,111,6,38300.0,Los Angeles,92239.570,26.036034,0.088484,0.054585,0.304467,...,31811.830,48671.184,67571.695,1057.0,121.0,13.0,31.0,850.0,10.0,matched (3)
11502,9100,111,6,38300.0,Los Angeles,44682.531,21.335941,0.033646,0.021019,0.428477,...,45127.395,52097.254,58714.344,1989.0,21.0,26.0,2.0,1926.0,8.0,matched (3)